{% extends 'base.html.twig' %}

{% block title %} {{ annonce.title}}
{% endblock %}
{% block body %}
<div class="h-100 p-5 text-bg-dark rounded-3">
<img style="object-fit: cover;" src="{{ "/uploads/article/"~annonce.image}}" alt="{{ annonce.title}}" class=" card-img-top p-5" width="100%" height="60%">

    <h2>{{ annonce.title}}</h2>
    <p>Prix : {{ annonce.prix}}</p>

	<p> Description : {{ annonce.content}}</p>
	<a href="{{ path('view')}}" class="btn btn-outline-light" type="button"> Retourn à l'Acceuil</a>
</div>

{% endblock %}
