
{% extends 'base_admin.html.twig' %}


{% block title %}Home{% endblock %}

{% block body %}



<h1>Vos Annonces</h1>

{% for message in  app.flashes('success_add') %}

	<div class="alert alert-primary alert-dismissible primary fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}


{% for message in  app.flashes('success_delete') %}

	<div class="alert alert-primary alert-dismissible primary fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

{% for message in  app.flashes('success_update') %}

	<div class="alert alert-primary alert-dismissible primary fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}


    <a href="{{path('home')}}" class="btn btn-primary" > Utilisateurs </a>
    <a href="{{path('annonce')}}" class="btn btn-primary" > Annonces </a>
	<a href="{{path('mail')}}" class="btn btn-warning">Email's</a>


<div class="row">
		{% for info in  infos %}
			<div class="card col-sm-3 m-2" style="height: 20%; width:23%" >

					<img src="
					{% if info.image is null%}https://picsum.photos/id/890/200/100
					{% else %}
					{{"/uploads/article/"~info.image}}
					{% endif %}" class="card-img-top" style="object-fit: cover;" alt="" width="100" height="200">



					<div class="card-body">
						<h5 class="card-title">Votre Annonce : {{info.user.name}}</h5>
						<p> Prix :{{ info.prix}}</p>
						<p class="card-text">{{ info.content}}
							{{ info.id }}</p>

						<p> date de création :{{ info.createdAt|date('d-m-Y H:m:s')}}</p>
						

						<a href="{{path('show_annonce',{id: info.id})}}" class="btn btn-info">Show</a>
						<a href="{{path('update_annonce',{id: info.id})}}" class="btn btn-primary">Modifer</a>
						
						
						

						<a href="{{path('delete_annonce',{id: info.id})}}" onclick=" return confirm()" class="btn btn-danger">delete</a>










					</div>
			</div>

        {% endfor %}
	</div>
{% endblock %}
