<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}{% endblock %}

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

			<div class="container-fluid  ">

				<a class="navbar-brand" href="{{ path('view')}}">MonSuperCoin</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse " id="navbarNav">
					<div class="navbar-nav ms-auto me-3">

						<a href="{{ path('view')}}" class="nav-link fs-5">
							Acceuil
						</a>
						<a href="{{ path('mail_view')}}" class="nav-link fs-5">
							Contact
						</a>
                        
                        {% if is_granted("ROLE_USER") %}

                        <a href="{{ path('view_profile')}}" class="nav-link fs-5">

                            Mon Profile
                        </a>
                        <a href="{{ path('app_logout')}}" class="nav-link fs-5 btn btn-xs btn-danger">


                            Logout
                        </a>


                        {% else %}
                        <a href="{{ path('app_register_view')}}" class="nav-link fs-5">

                            S'incrire
                        </a>

                        <a href="{{ path('app_login')}}" class="nav-link fs-5">
                            Se Connecter
                        </a>
                        {% endif %}



					</div>
				</div>
			</div>
		</nav>
        {% if carousel is defined  %}{% else%}
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://picsum.photos/id/1011/2000/600" alt="..."/>


                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h1>Example headline.</h1>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p>
                                    <a class="btn btn-lg btn-primary" href="#">Sign up today</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://picsum.photos/id/1020/2000/600" alt="..."/>


                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Another example headline.</h1>
                                <p>Some representative placeholder content for the second slide of the carousel.</p>
                                <p>
                                    <a class="btn btn-lg btn-primary" href="#">Learn more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://picsum.photos/id/1070/2000/600" alt="..."/>


                        <div class="container">
                            <div class="carousel-caption text-end">
                                <h1>One more for good measure.</h1>
                                <p>Some representative placeholder content for the third slide of this carousel.</p>
                                <p>
                                    <a class="btn btn-lg btn-primary" href="#">Browse gallery</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        {% endif %}
		<div class="container mt-5 mb-5"> 
        {% block body %}{% endblock %}
		</div>
            <footer class="blog-footer text-center bg-light p-4" style="height: 20vh!important">



                    <p >Blog template built for
                        <a href="https://getbootstrap.com/">Bootstrap</a>
                        by
                        <a href="https://twitter.com/mdo">@mdo</a>.</p>
                    <p>
                        <a href="#">Back to top</a>
                    </p>
            </footer>


			{% block javascripts %}{% endblock %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
			<script src="{{ asset('/js/app.js')}}"></script>
		</body>
	</html>

