{% extends 'base.html.twig' %}


{% block title %} Contacter nous {% endblock %}
{% block stylesheets %}
<style>
.check{
	display:none;
}
</style>
{% endblock %}

{% block body%}

<h2>  Nous Contacter</h2>

	<div class="alert alert-primary alert-dismissible primary fade show check" role="alert">
		Votre email est envoyer
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>




<div class=" m-auto w-75 form-control">


	{{form_start(form)}}


	{{form_row(form.email)}}
	{{form_row(form.name)}}
	{{form_row(form.objet)}}
    {{form_row(form.content)}}

	


	
<button type="submit"  class="btn btn-primary email">Envoyer</button>


	{{form_end(form)}}

</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

 {% endblock %}


